.input{
	height:25px;
	width: 260px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #999999  ;
    margin:5px;
	font-size: 16px; 
	font-family: FontAwesome, "Open Sans", Verdana,
}
p{
    margin: 5px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn{
	height:50px;
	width: 280px;
	padding: 5px;
	border-radius: 0px;
	border: 1px solid #0E6251 ;
	 margin:5px;
	font-family: Century Gothic;
	font-size: 20px; 
	background: #424949 ;
	color:white;
}
.container{
    min-height:500px;
    width: 70%;
	padding:3px;
 	font-family: Century Gothic;
	font-size: 20px; 
	position: absolute;
	margin: 120px auto 0px 340px;
}
.quoteContainer{
    min-height:120px;
	width: 270px;
    padding:5px;
    margin:5px;
	border-radius: 6px;
	border: 1px solid #999999  ;
	font-family: Century Gothic;
	font-size: 16px;
	
}
.showQuote{
   min-height:100px;
    width: 97%;
	border-radius:3px;
	padding:8px;
    
	font-family:Century Gothic;
    font-size: 18px; 
	box-shadow: 2px 3px 1px 1px #999999;
	position: relative;
	top: 50px;
	left:5px;
	display: flow-root;
}
#contentToPost{
    height:330px;
    width: 300px;
	padding:5px;
	margin:130px 0px auto 50px;; 
	font-family: Century Gothic;
	font-size: 20px; 
	position: fixed;
}
#likeBadge{
	height: 25px;
	width: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	padding: 2px;
	border-radius: 50%;
	color: white;
	background: #1BBB53 ;
	position: absolute;
	text-align: center;
	line-height: 25px;
	right: 126px;
	bottom: 25px;
	float: right;
}
#dislikeBadge{
	position: absolute;
	height: 25px;
	width: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	padding: 2px;
	border-radius: 50%;
	color: white;
	background: #D53764;
	text-align: center;
	line-height: 25px;
	bottom: 25px;
	right: 41px;
	float: right;
}
#likepost{
	height: 30px;
	width: 60px;
	border: 1px solid #760A89  ;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	background: #760A89   ;
	color: white;
	float: right;
	position: absolute;
	right: 138px;
	bottom: 10px;
}
#dislikepost{
	height: 30px;
	width: 60px;
	border: 1px solid #515A5A;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	background:#515A5A;
	color: white;
	float: right;
	position: absolute;
	right: 60px;
	bottom: 10px;
}
#delbtn{
	height: 30px;
	width: 60px;
	border: 1px solid #060601;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	background: #060601   ;
	color: white;

}
#quoteAction{
	 height:30px;
    width: 70%;
	border-radius:3px;
	padding:8px;
	font-family:Century Gothic;
    font-size: 18px; 
	box-shadow: 2px 3px 1px 1px #999999;
	position: fixed;
	background: black;
	color:hotpink;
}
#searchinput{
	height:15px;
	width: 200px;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid #999999  ;
    margin:5px;
	font-family: Century Gothic;
	font-size: 14px; 
	position: relative;
	float: right;
	bottom: 8px;
	right: 5px;
}
#searchbtn{
	height: 35px;
	width: 60px;
	border: 1px solid #0BB795  ;
	border-radius: 2px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	background: #0BB795   ;
	color: white;
	float: right;
	position: absolute;
	right: 250px;
	bottom: 5px;
}
.custom-toast .ui-toast-message-content {
	font-family: 'Courier New', Courier, monospace;
	background: #FFD07B;
  }
  .mainbody{
	  height: 80%;
	  
  }